{% extends 'clients/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Список сообщений</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'letters:create_letters' %}" class="btn btn-primary mb-3">Добавить сообщение</a>
                        </div>
                    </div>
                    {% if object_list %}
                        <div class="row">
                            {% for object in object_list %}
                                <div class="col-md-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">{{ object.letter_subject }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">{{ object.letter_body }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="{% url 'letters:view_letters' object.pk %}" class="btn btn-sm btn-outline-primary mr-2">Подробнее</a>
                                            {% if not user.is_staff %}
                                                <a href="{% url 'letters:update_letters' object.pk %}" class="btn btn-sm btn-outline-secondary mr-2">Изменить</a>
                                                <a href="{% url 'letters:delete_letters' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center">Сообщений нет</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
